.show-user-list {
  list-style: none;
  padding: 5px;
}

.show-user-li {
  align-items: center;
  display: flex;
}

.show-user-online {
  background-color: #13ec13;
  font-size: 12px;
  width: 1em;
  height: 1em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  margin-right: 6px;
  box-shadow: 1px 1px 1px 1px #d2e0f7;
}

.show-user-username {
  font-weight: bold;
  font-size: 16px;
  font-family: initial;
}