.show-user-list {
  list-style: none;
  overflow-y: auto;
  padding: 5px 20px 5px 5px;
  max-height: 350px;
  position: absolute;
}

.show-user-li {
  align-items: center;
  display: flex;
}

.show-user-online {
  font-size: 12px;
  width: 1em;
  height: 1em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  margin-right: 6px;
  box-shadow:inset 0px 1px 5px 0px #cdf8aa;
  background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
  background-color:#89c403;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
}

.show-user-username {
  font-weight: bold;
  font-size: 16px;
  font-family: initial;
}

@media only screen and (max-width: 768px) {
  .show-user-list {
    position: relative;
    padding: 0px;
    display: flex;
    overflow: auto;
    margin: 10px;
  }

  .show-user-li {
    margin-bottom: 10px;
  }
}