.login-main {
  margin: auto;
  width: 23%;
}

.login-main h3{
  text-align: center;
}

.login-form {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  [class='login-main'] {
    width: 90%;
  }
}